.container {
   width: 100vw;
   height: 100vh;
   display: grid;
   grid-template-areas: 
      "header header shipment"
      "header header shipment"
      "transactions transactions shipment";
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr 2fr;
   background-color: #eeeeee;
}

.header {
   grid-area: header;
   padding: 3rem;
}

.transactions {
   grid-area: transactions;
   padding: 0 3rem;
   overflow: auto;
}

.shipment {
   background-color: #ffffff;
   grid-area: shipment;
   padding: 3rem;
   border-radius: 3rem 0 0 3rem;
   overflow: auto;
}

.shipmentActors {
   padding: 1.5rem;
   margin: 2rem 0;
   border-radius: 2rem;
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 12px 0px;
}

.shipmentStatus {
   margin-bottom: 2rem;
}

.statusUpdate {
   margin-bottom: 1.5rem;
}

.test {
   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 12px 0px;
}