.shipment {
   width: 30vw;
   padding: 3rem;
   border-radius: 3rem 0 0 3rem;
   transition: all .5s;
}

.main {
   padding: 3rem;
   display: flex;
   flex-direction: column;
   transition: all .5s;
}

.full {
   width: 100vw;
}

.collapsed {
   width: 70vw;
}

.transactions {
   margin-top: 1.5rem;
}

@media (max-width: 36em) {
   .shipment {
      width: 90vw;
      padding: 2.5rem;
      border-radius: 3rem 0 0 3rem;
   }

   .transactions {
      margin-top: 1.5rem;
   }

   .main {
      padding: 2rem;
   }

   .collapsed {
      width: 100vw;
   }
}

@media (min-width: 36em) and (max-width: 80em) {
   .shipment {
      width: 50vw;
      padding: 3rem;
      border-radius: 3rem 0 0 3rem;
   }

   .transactions {
      margin-top: 1.25rem;
   }

   .collapsed {
      width: 100vw;
   }
}