.button {
   margin-right: 2rem;
}

.buttonContainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
   position: sticky;
   top: 3rem;
   z-index: 1;
}

@media (max-width: 36em) {
   .buttonContainer {
      top: 2rem;
   }
}