.transactorBox {
   padding: 0 1.5rem;
   margin: 2rem 0;
   border-radius: 2rem;
   /*box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 12px 0px;*/
   box-shadow: 2px 2px 0px 4px rgba(166,166,166,0.27);
   /*position: sticky;
   top: 0;
   z-index: 1;
   background-color: #fff;*/
}

.transactor {
   margin: 1.5rem 0;
}

.sender {
   color: #7CAC6F;
   text-transform: uppercase;
}

.receiver {
   color: #F3A658;
   text-transform: uppercase;
}

.shipmentStatus {
   margin-bottom: 2rem;
}

.actionButtons {
   display: flex;
   flex-direction: column;
}